# Secret keys (Required)

ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=

# Redis URL (Required)
# Reference:
# (node-redis package): https://github.com/redis/node-redis/blob/master/docs/client-configuration.md
# (Redis start guide) https://redis.io/docs/latest/operate/rc/rc-quickstart/
REDIS_URL='redis://[[username][:password]@][host][:port][/0]'
